body
{
    background-color: rgb(241, 236, 241);
    font-family: 'Abel', sans-serif;
    color: #354d65;
    /* background: linear-gradient(rgb(30, 191, 121), rgb(50, 89, 196));  */
}

.header .navbar 
{
    background-color: transparent !important;
}
.navbar-toggler
{
    background-image: url(./image/favicon-32x32.png);
    background-repeat: no-repeat;
}


.titulo
{
    font-family: 'Yeseva One', cursive;
    color: rgb(187, 188, 188);
    /* font-family: 'Barlow Condensed', sans-serif; */
/*     font-family: 'Sirin Stencil', cursive; */
    font-size: 10vw 7vh;

    margin: 12vw;
}
.texto-encima
{
    margin-top: 12vw;
    position: relative;    /* para poder posicionar el texto de forma absoluta */
    display: inline-block;
}
h1
{
  position: absolute;    /* posición absolute con respecto al padre */
  bottom: 0;             /* posicionada en la esquina inferior derecha */
  right: 1rem;
}
.letraDiferente
{
/*  font-family: 'Lora', serif; */
 text-shadow: 3px 3px 2px rgb(37, 57, 53);
 color: rgba(40, 134, 110, 0.757)
}

p .cardTexto
{
    color: black;
    font-size: 9px;
}

/* portfolio */
.portfolio
{
 
  margin-top: 3vw;
   padding: 10px;
  /* 20px 25px 30px -6px #6b6969; */
  padding:1vw;
  height:100vh;
}
/* img.img-responsive 
{
    margin:0 4px;
    displ m
.img-fluid 
{
    max-width: 100%;
    height: auto;
    /* border-radius: 6%; */
}
.img-fluid:hover
{
 z-index: -1;
 filter: brightness(0.8);
}

.container
{
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}
/* <!-- Acerca de mi --> */
hr
{
    margin-left: 14vw;
    margin-right: 17vw;
    background-color: blue;
}
.seccionAcerca
{
    margin: 35vw 35vw;
    

}
h2, h3
{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 6vw;

}
.card
{
    margin:auto;
}
input
{
    width: 45%;
    padding: 0.375rem 0.75rem;
}
/* contacto */
.contacto
{
background-color: rgb(220, 235, 235);
font-family: 'Carrois Gothic SC', sans-serif;
box-shadow: 0 25px 30px -6px #6b6969;
color: #32697d;
}
input, textarea
{
    background-color:rgba(50, 89, 196, 0.32)!important;
}
textarea:focus, input:focus
{
    background-color: rgba(30, 191, 121, 0.377)!important;
}

button.btn
{
    background-color: linear-gradient(rgb(30, 191, 121), rgb(50, 89, 196));
    color: #354d65;
}
button.btn:hover
{
    background-color: linear-gradient(rgb(30, 191, 121), rgb(50, 89, 196));
    color: rgb(9, 165, 165);
}
/* end contacto */
.redes
{
    font-family: 'Carrois Gothic SC', sans-serif;
    color: #354d65;

}
li
{
    text-align: center;
    list-style:none
}
li > img
{
    width: 4vw;
    height: 4vw;

}
a.referenciaIconos
{
    color: #32697d;
}
a.referenciaIconos::after
{
    color: rgb(30, 191, 121)
}
a.referenciaIconos:hover
{
    color: rgba(171, 236, 41, 0.836);
}

